


@mixin title-shadow {

    text-shadow: -.35rem .10rem rgb(88, 86, 86) ;
    border: solid 2px green;
    color: pink;
}

.title-super {

    color: pink;
    @include title-shadow;
}

.sous-texte {
color: aqua;
font-size: 29px;
font-weight: 1;
font-family: Arial, Helvetica, sans-serif;

}